@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color:#6c0598;
    --black:#333;
    --white:#ddd;
    --light-black:#6c6c6c;
    --light-white:rgba(229, 229, 229, 0.615);
    --dark-bg:rgba(0,0,0,1);
    --light-bg:#eee;
    --border:0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.3);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,0.5);
}

*{
    /* font-size: 1.3rem; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: var(--black);
    /* height: 100%; */
}

body{
    height: 100%;
    width: 100%;
}

html{
    font-size: 62.5%;
    color: #fff;
}

a{
    color: #333;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

div{
    padding:3rem 10%;
}

.header{
    position: sticky;
    left: 0;right: 0;top: 0;
    z-index: 1000;
    background-color: #e9e9e9;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header img{
    margin-left: 0;
    margin-right: 0;
    width: 10%;
}

.header .logo{
    font-weight:700;
    font-size: 2.5rem;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn{
    cursor: pointer;
    font-size: 2rem;
    color: var(--black);
    display: none;
}

a:hover{
    color: var(--main-color);
}

.footer{
    background-color: #1d1b1b;
    /* background-image: url(../Images/Background-4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 2rem;
    color: var(--white);
}

.footer .box-container .box{
    border-bottom: var(--light-bg);
    /* max-width: 30rem; */
}

.footer .box-container .box h2{
    color: var(--white);
    font-size: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 2px var(--light-white);
}

.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-top: 2rem;
    display: block;
}

.footer .box-container .box a i{
    font-weight: 900;
    color: var(--main-color);
    padding-right: 0.5rem;
    transition: 0.2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 2rem;
}

.services .box-container .box h3{
    text-align: center;
    color: #cfc8c8;
    padding-top: 1.5rem;
}

.services .box-container .box img{
    max-width: 10rem;
}

.services{
    text-align: center;
    font-size: 1.5rem;
    /* background-color: #6c0598; */
}

.services .box-container .box{
    background-color: var(--main-color);
    border-radius: 10%;
}

.services .box-container .box:hover{
    background-color: #a03eca;
}

.swiper {
    width: 90%;
    height: 100vh;
    position: relative;
  }

  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 90%;
    border-radius: 10px;
  }

  .swiper-button-next,.swiper-button-prev {/* Make buttons visible */
    font-size: 10rem;
    transition-duration: 0.5s;
    transform: scale(1);
    border-radius: 10px;
  }
  .swiper-button-next:hover,.swiper-button-prev:hover{
    transform: scale(1.5);
  }

.Discover-btn{
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
}

.Discover-btn a{
    background-color: var(--main-color);
    color: #cfc8c8;
    border-radius: 10px;
    padding: 2rem;
}

.Discover-btn a:hover{
    background-color: #a03eca;
}

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex: 1 1 41rem;
    padding-left: 5rem;
}

.home-about .image img{
    width: 100%;
    border-radius: 5px;
}

.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: var(--light-white);
    border-radius: 5px;
}

.home-about .content h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.home-about .content a{
    font-weight: 500;
    font-size: 2rem;
    background-color: var(--main-color);
    color: #cfc8c8;
    padding: 6px;
    border-radius: 5px;
}

.home-about .content a:hover{
    background-color: #a03eca;
}










































@media (max-width:1200px){
    div{
        padding: 3rem 5%;
    }
}

@media (max-width:990px){
    html{
        font-size: 55%;
    }
    div{
        padding: 3rem 2rem;
    }
}

@media (max-width:750px){
   .header .navbar{
    position: absolute;
    top: 100%;left: 0;right: 0;
    border-top: var(--border);
    background-color: #e9e9e9;
    padding: 2rem;
    transition: .2s linear;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
   }

   .header .navbar a{
    display: block;
    margin: 2rem;
    text-align: center;
   }

   .header .navbar.active{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
   }

   #menu-btn{
    display: inline-block;
   }

}

@media (max-width:450px){
    html{
        font-size: 55%;
    }
    div{
        padding: 3rem 2rem;
    }
}